/*=============== ESTILOS GENERALES ===============*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #E62256;
}

a{
    text-decoration: none;
    color: #000;
}

/*=====================================================*/
/*=============== CONTENEDOR PRINCIPAL ===============*/
/*===================================================*/
.contenedor {

    background-image: url(../imagenes/Fondo-480.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:#E62256;
    box-sizing: content-box;
    justify-content: center;
    height: 100vh;
    position: relative;

}

/*==============  BACKGROUND  ===============*/
.contenedor .contenedor-imagen-centro{
    position: relative;
    width: 100;
    height: 100vh;

}

.contenedor-imagen-centro .imagen-centro{
    background-image: url(../imagenes/Imagen-centro-calavera-480.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    box-sizing: content-box;
    height: 100vh;
    width: 80%;
    border: 1px solid #000;
    margin: auto;
    left: 10%;
    position: absolute;
    z-index: 100;
}

/*=================== IMAGENES ANIMADAS ==================*/
.contenedor-animacion-maracas-izq{
    background-image: url(../imagenes/Imagenes-fondo-animacion-maraca-izq-480.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    box-sizing: content-box;
    height: 100vh;
    width: 80%;
    z-index: 200;
    left: 10%;
    position: absolute;
    animation: movimientos-maracas-izq 0.5s 2s ease-out alternate-reverse 8;
}

.contenedor-animacion-maracas-der{
    background-image: url(../imagenes/Imagenes-fondo-animacion-maraca-der-480.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    box-sizing: content-box;
    height: 100vh;
    width: 80%;
    z-index: 200;
    left: 10%;
    position: absolute;
    animation: movimientos-maracas-der 0.5s 1s ease-out alternate-reverse 8;
}

.contenedor-animacion-mariachi{
    background-image: url(../imagenes/Imagenes-fondo-animacion-mariachi-480.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    box-sizing: content-box;
    height: 100vh;
    width: 80%;
    z-index:200;
    left: 10%;
    position: absolute;
    animation: movimientos-mariachi 1s 2.5s ease-out alternate-reverse 4;
}

.contenedor-animacion-chavo{
    background-image: url(../imagenes/Imagenes-fondo-animacion-chavo-480.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    box-sizing: content-box;
    height: 100vh;
    width: 80%;
    z-index: 0;
    left: 10%;
    position: absolute;
    animation: movimientos-chavo 1s 3s ease-out alternate-reverse 6;
}

/*==================== ANIMACIONES ====================*/

@keyframes movimientos-maracas-izq{
    0% {transform: translateY(10px);}
    25% {transform: translateY(0);}
    75% {transform: translateY(10px);}
    100%{transform: translateY(0);}
}

@keyframes movimientos-maracas-der{
    0% {transform: translateY(-10px);}
    25% {transform: translateY(0);}
    75% {transform: translateY(-10px);}
    100%{transform: translateY(0);}
}

@keyframes movimientos-mariachi{
    0% {transform: rotate(5deg);}
    25% {transform: rotate(0);}
    75% {transform: rotate(5deg);}
    100%{transform: rotate(0);}
}

@keyframes movimientos-chavo{
    0% {transform: translateY(10px);}
    25% {transform: translateY(0);}
    75% {transform: translateY(10px);}
    100%{transform: translateY(0);}
}





.contenedor .contenedor-cortina .contenedor-cortina-izquierda{
    position: absolute;
    background-image: url(../imagenes/Cortina-480.svg);
    background-repeat: no-repeat;
    width:200px;
    height:750px;
    top: -100px;
    z-index: 200;
}

.contenedor .contenedor-cortina .contenedor-cortina-derecha{
    position: absolute;
    background-image: url(../imagenes/Cortina-480.svg);
    background-repeat: no-repeat;
    width:18em;
    height:750px;
    top: -100px;
    right:0 ;
    transform: scaleX(-1);
    z-index: 200;
}

.contenedor .contenedor-guirnaldas{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 600;
}

/*=================  CONTENEDOR DE GRILLA  ===============*/
.contenedor .contenedor-grid {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 300;
}

/*===================  GRILLA  ========================*/
.contenedor .contenedor-grid .grid{

    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 300px auto;
    grid-template-areas: "logo logo logo-2"
                         "aside-izquierda . aside-derecha"
                         "footer footer footer";

}

/*===========================================================*/
/*====================== HEADER ============================*/
/*=========================================================*/

/*================= NAVEGADOR PRINCIPAL =================*/

/*==================  BOTÓN MENÚ  =====================*/

.menu-principal-toggle{
    display:flex;
    grid-area: logo-2;
    width: 1.2rem;
    height: 1rem;
    background:linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%,white 80% );
    cursor: pointer;
    z-index: 800;
    position: absolute;
    right: 40px;
    top: 69px;
}

.menu-imagen{
    grid-area: logo-2;
    position: absolute;
    top: 36px;
    right: 9px;
}

.menu-imagen img{
    width: 80px;
}


/*======================BARRA DE MENÚ===================== */
.nav-principal{
    display: flex;
    position: fixed;
    /* height: calc(100vh - 4rem); */
    height: 240px;
    width: 290px;
    background: #2C0D10;
    left: -80vh;
    z-index: 700;
    transition: left .6s;
    align-items: center;
    justify-content: center;
}

.nav-principal .marco-menu{
    width: 100%;
}

.nav-principal.show{
    left: 0;
}

.menu-principal{
   display: flex;
   position: absolute;
   flex-direction: column;
   width: 80%;
   height: 80%;
   justify-content: center;
   align-items: center;

}

.menu-principal-item{
    width: 100%;
    height: 18%;
    list-style: none;
    text-align: center;
    line-height: 43px;


}

.menu-principal-item:not(:last-of-type){
    border-bottom: 1px solid #fff ;
}

.menu-principal-item:hover{
    width: 100%;
    height: 18%;
    list-style: none;
    text-align: center;
    background: rgb(107, 32, 39);

}


.menu-principal a{
    font-size: 10px;
    color: #fff;
}


/*==================== LOGOS ==================*/

/*==================== LOGOTIPO LA VECIDAD DE LOS CUATES ==================*/
.contenedor-logo-principal{
    grid-area: logo;
    border:  1px solid red;

}

.contenedor-logo-principal img{
    width: 105px;
    margin-top: 35px;
    margin-left: 8px;
}

/* ============ BOTÓN EVENTOS =============== */

.contenedor-logo-principal .contenedor-botones-aside img{
    width: 100%;
    margin-left: 15px;
    margin-top: 40px;
}

/*==================== LOGOTIPO CUATES MÁS CHIDOS ==================*/
.contenedor-logo-2{
    grid-area: logo-2;
    display:flex;
    border: green 1px solid;
    justify-content: flex-end;
    align-items: flex-end;
}

.contenedor-logo-2 a{
    margin-bottom: 10px;
    margin-right: 10px ;
}


.contenedor-logo-2 img{
    width: 74px;
}

/*===========================================================*/
/*===============CONTENIDO PRINCIPAL========================*/
/*=========================================================*/

.contenedor-main{

    grid-area: contenido;
    border: darkorchid 1px solid;

}

.contenedor-main .main{

}


/*======================== CORRUSEL ==================*/
 .carrusel{
    /* grid-area: carrusel; */
    /* display: grid; */
    border: darkmagenta 13px solid;
    z-index: 500px;
    display: none;
}

.carousel{
    position: relative;
    background: lightgreen;
    width: 10px;
    height: 10px;

}
.carousel-item{
    /* background: green; */
    position: relative;
    width: 20%;
}

.corousel .carousel-item img{
    background-size: 40%;
    background:blue;
    z-index: 600;
    max-width: 50%;
}
/*
.aside-izquierda .boton-evento{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background: skyblue;
}
*/


/*==================== ASIDE DERECHA ==================*/
.aside-derecha{
    grid-area: aside-derecha;
    width: 100%;
    height: 100%;
    border: 1px solid lightskyblue;
    box-sizing: border-box;
}

.contenedor-botones-aside{
    width: 80px;
    cursor: pointer;
}


.aside-derecha .contenedor-botones-aside:first-child{
    margin-left: 68px;
}

.aside-derecha .contenedor-botones-aside:last-child{
    margin-left: 65px;
    margin-top: 50px;
}


/*==================== ASIDE IZQUIERDA ==================*/
.aside-izquierda{
    grid-area: aside-izquierda;
    width: 100%;
    height: 100%;
    border: 1px solid lightskyblue;
    box-sizing: border-box;

}

.aside-izquierda .contenedor-botones-aside:last-child{
    margin-left: 10px;
    margin-top: 30px;
}

.aside-izquierda .contenedor-botones-aside:first-child{
    margin-left: 10px;
    margin-top: 20px;
}



/*===================================================*/
/*==================== FOOTER ======================*/
/*=================================================*/

.footer{
    display: grid;
    grid-area: footer;
    height: 25vh;
    position: relative;
    border: blue 1px solid;
    justify-items: center;
    align-items: flex-end;

}

.footer .contenedor-footer{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content:center;
    align-items: flex-end;
    /* background: lightskyblue; */

}


.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 70%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 40px rgba(0,0,0,10);
    z-index: 100;
    border: 1px solid lightseagreen;
}

.footer .contenedor-footer .caja-2{
    display: flex;
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: 0;
    align-self:flex-start;
    border: 1px solid #fff;
    /* bottom: 220px; */
}

.footer .patron-footer{
    width: 100%;
    position:absolute;
    bottom: 41px;
    z-index: 400;
}

 .footer .imagen-mitad-del-mundo{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 60px;
    justify-content: center;
    z-index: 200;
}

.imagen-mitad-del-mundo img.monumento{
    position: relative;
    width: 25%;
    z-index: 500;
}

.contenedor-alas{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 40%;
    justify-content: space-evenly;
    z-index: 100;
    /* background: red; */
}



.contenedor-alas img.alas-izq{
    position: relative;
    width: 17%;
    height: auto;
    z-index: 500;
    margin-right: 25%;
    margin-bottom: 47px;
    animation: animacion-alas-izq 1s 3s ease-in-out alternate-reverse  8;
    animation-fill-mode: forwards;
    
}

.contenedor-alas img.alas-der{
    position: relative;
    width: 17%;
    height: auto;
    z-index: 300;
    margin-left: 24%;
    margin-bottom: 47px;
    animation: animacion-alas-der 1s 3s ease-in-out alternate-reverse 8;
    animation-fill-mode: forwards;
    transform: scaleX(-1);
    
}

/* ANIMACIONES ALAS  */

@keyframes animacion-alas-izq{
    0% {transform: rotate(-10deg) translateY(15px);}
    20% {transform: rotate(0deg) translateY(0px);}
    75% {transform: rotate(-10deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(0px);}
}
@keyframes animacion-alas-der{
    0% {transform: rotate(10deg) scaleX(-1) translateY(15px);}
    20% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
    75% {transform: rotate(10deg) scaleX(-1) translateY(15px);}
    100% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
}
/* animation: movimientos-chavo 1s 3s ease-out alternate-reverse 6; */


/* @keyframes movimientos-mariachi{
    0% {transform: rotate(5deg);}
    25% {transform: rotate(0);}
    75% {transform: rotate(5deg);}
    100%{transform: rotate(0);}
} */



.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img{
    width: 26%;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer .imagen-derecha-footer img{
    width: 26%;
    position: absolute;
    align-self: flex-end;
}



/* ================ REDES SOCIALES ===================== */

.footer .redes-sociales{
    display: flex;
    justify-content: center;
    font-size: 22px;
    z-index: 500;
}


.footer .redes-sociales a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:  7px;
    color: #2C0D10;
    transition: 0.4s;
    margin-top: -80px;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 27px;
}

.redes-sociales img{
    position: absolute;
    width: 40px;
}