/*=============== ESTILOS GENERALES ===============*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #E62256;
}

a{
    text-decoration: none;
    color: #000;
}

/*=====================================================*/
/*=============== CONTENEDOR PRINCIPAL ===============*/
/*===================================================*/
.contenedor {
     
    background-image: url(../imagenes/Fondo-480.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:#E62256;
    box-sizing: content-box;
    justify-content: center;
    height: 100vh;
    position: relative;
    
}

/*==============  BACKGROUND  ===============*/
.contenedor .imagen-centro{
    /* background-image: url(../imagenes/Centro-Imagen-Fondo-480.svg); */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 300px;
    margin: auto;
}

.contenedor .contenedor-cortina .contenedor-cortina-izquierda{
    position: absolute;
    background-image: url(../imagenes/Cortina-480.svg);
    background-repeat: no-repeat;
    width:200px;
    height:750px;
    top: -100px;
}

.contenedor .contenedor-cortina .contenedor-cortina-derecha{
    position: absolute;
    background-image: url(../imagenes/Cortina-480.svg);
    background-repeat: no-repeat;
    width:18em;
    height:750px;
    top: -100px;
    right:0 ;
    transform: scaleX(-1);
}

/*=================  CONTENEDOR DE GRILLA  ===============*/
.contenedor .contenedor-grid {
    position: absolute;
    width: 100%;
    height: 100vh;   
    top: 0;                
}

/*===================  GRILLA  ========================*/
.contenedor .contenedor-grid .grid{
    
    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 270px 300px auto;
    grid-template-areas: "logo logo logo-2"
                         "aside-izquierda aside-izquierda aside-derecha"
                         "footer footer footer";

}

/*===========================================================*/
/*====================== HEADER ============================*/
/*=========================================================*/

/*================= NAVEGADOR PRINCIPAL =================*/

/*==================  BOTÓN MENÚ  =====================*/

.menu-principal-toggle{
    display:flex;
    grid-area: logo-2;
    width: 1.2rem;
    height: 1rem;
    background:linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%,white 80% );
    cursor: pointer;
    z-index: 800;
    position: absolute;
    right: 40px;
    top: 69px;
}

.menu-imagen{
    grid-area: logo-2;
    position: absolute;
    top: 36px;
    right: 9px;
}

.menu-imagen img{
    width: 80px;
}


/*======================BARRA DE MENÚ===================== */
.nav-principal{
    display: flex;
    position: fixed;   
    /* height: calc(100vh - 4rem); */
    height: 240px;
    width: 290px;
    background: #2C0D10;
    left: -80vh;
    z-index: 700;
    transition: left .6s;
    align-items: center;
    justify-content: center;
}

.nav-principal .marco-menu{
    width: 100%;
}

.nav-principal.show{
    left: 0;
}

.menu-principal{
   display: flex;
   position: absolute;
   flex-direction: column; 
   width: 80%;
   height: 80%;
   justify-content: center;
   align-items: center;

}

.menu-principal-item{
    width: 100%;
    height: 18%;
    list-style: none;
    text-align: center;
    line-height: 43px;
    

}

.menu-principal-item:not(:last-of-type){
    border-bottom: 1px solid #fff ;
}

.menu-principal-item:hover{
    width: 100%;
    height: 18%;
    list-style: none;
    text-align: center;
    background: rgb(107, 32, 39);
   
}


.menu-principal a{
    font-size: 10px;
    color: #fff;   
}


/*==================== LOGOS ==================*/

/*==================== LOGOTIPO LA VECIDAD DE LOS CUATES ==================*/
.contenedor-logo-principal{
    grid-area: logo;
    border:  1px solid red;
   
}

.contenedor-logo-principal img{
    width: 105px;
    margin-top: 35px; 
    margin-left: 8px;
}

/*==================== LOGOTIPO CUATES MÁS CHIDOS ==================*/
.contenedor-logo-2{
    grid-area: logo-2;
    display:flex;
    border: green 1px solid;
    justify-content: flex-end;
    align-items: flex-end;
}

.contenedor-logo-2 a{
    margin-bottom: 10px;
    margin-right: 10px ;
}


.contenedor-logo-2 img{
    width: 74px;
}

/*===========================================================*/
/*===============CONTENIDO PRINCIPAL========================*/
/*=========================================================*/

.contenedor-main{

    grid-area: contenido;
    border: darkorchid 1px solid;

}

.contenedor-main .main{

} 


/*======================== CORRUSEL ==================*/
 .carrusel{
    /* grid-area: carrusel; */
    /* display: grid; */
    border: darkmagenta 13px solid;
    z-index: 500px;
    display: none;
}    

.carousel{
    position: relative;
    background: lightgreen;
    width: 10px;
    height: 10px;
    
}
.carousel-item{
    /* background: green; */
    position: relative;
    width: 20%;    
}

.corousel .carousel-item img{
    background-size: 40%;
    background:blue;
    z-index: 600;
    max-width: 50%;
}
/*
.aside-izquierda .boton-evento{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background: skyblue;
}
*/


/*==================== ASIDE DERECHA ==================*/
.aside-derecha{
    grid-area: aside-derecha;
    width: 100%;
    height: 100%;
    border: 1px solid lightskyblue;
    box-sizing: border-box;
}

/*==================== ASIDE IZQUIERDA ==================*/
.aside-izquierda{
    grid-area: aside-izquierda;
    width: 100%;
    height: 100%;
    border: 1px solid lightskyblue;
    box-sizing: border-box;
}

/*===================================================*/
/*==================== FOOTER ======================*/
/*=================================================*/

.footer{
    display: grid;
    grid-area: footer;
    height: 40vh;
    position: relative;
    border: blue 1px solid;  
    justify-items: center;  
    align-items: flex-end;  

}

.footer .contenedor-footer{
    display: flex;
    width: 100%;
    height: 50%;
    position: relative;
    justify-content:center;
    align-items: flex-end;
    background: lightskyblue;
    
}
 

.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 80%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 20px rgba(0,0,0,3);
    z-index: 100;
    border: 1px solid lightseagreen;
}

.footer .contenedor-footer .caja-2{
    display: flex;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 0;
    align-self:flex-start;
    border: 1px solid #fff;
    bottom: 200px;
}

.footer .patron-footer{ 
    width: 100%;
    position:absolute;  
    bottom: 61px;   
    z-index: 400;
} 

 .footer .imagen-mitad-del-mundo{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 80px;
    justify-content: center;
    z-index: 200;
}

.footer .imagen-mitad-del-mundo img{
    width: 40%;
}


.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img{
    width: 26%;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer .imagen-derecha-footer img{
    width: 26%;
    position: absolute;
    align-self: flex-end;
}



/* ================ REDES SOCIALES ===================== */

.footer .redes-sociales{
    display: flex;
    justify-content: center;
    font-size: 24px;
    z-index: 500;
}


.footer .redes-sociales a{
    display: flex;
    width: 50px;
    height: 50px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:  10px;
    color: #2C0D10;
    transition: 0.4s;
    margin-top: -100px;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 30px;
}