/*=============== ESTILOS GENERALES ===============*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #E62256;
}

a{
    text-decoration: none;
    color: #000;
}


/*=====================================================*/
/*=============== CONTENEDOR PRINCIPAL ===============*/
/*===================================================*/

.contenedor{
     
    /* background-image: url(../imagenes/Imagenes-menu/4.-Carta\ Menu-01.jpg);
    background-position: center;
    background-repeat: no-repeat; */
    background-color:#E62256;
    box-sizing: content-box;
    justify-content: center;
    height: 100vh;
    position: relative;
}

/*==============  BACKGROUND  ===============*/

.imagen-centro{
    background-image: url(../imagenes/Centro-Imagen-Fondo-480.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 300px;
    margin: auto;
}

.contenedor-cortina .contenedor-cortina-izquierda{
    position: absolute;
    background-image: url(../imagenes/Cortina-480.svg);
    background-repeat: no-repeat;
    width:200px;
    height:750px;
    top: -100px;
}

.contenedor-cortina .contenedor-cortina-derecha{
    position: absolute;
    background-image: url(../imagenes/Cortina-480.svg);
    background-repeat: no-repeat;
    width:18em;
    height:750px;
    top: -100px;
    right:0 ;
    transform: scaleX(-1);
}

/*==============  CONTENEDRO DE GRILLA  ===============*/

.contenedor-grid {
    position: absolute;
    width: 100%;
    height: 100vh;   
    top: 0;                
}

/*===================  GRILLA ========================*/

.contenedor-grid .grid{
    
    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 600px auto;
    grid-template-areas: "logo . logo-2"
                         "contenido contenido contenido"
                         "footer footer footer";

}

/*==================== HEADER ======================*/


/*================== MENU PRINCIPAL =================*/
.menu-principal-toggle{
    display: flex;
    grid-area: logo-2;
    width: 2.4rem;
    height: 2rem;
    background:linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%,white 80% );
    cursor: pointer;
    z-index: 800;
    margin-top: 50px;
    margin-left: 40px;
}

.menu-imagen{
    grid-area: logo-2;
    width: 100%;
    z-index: 800;
}

.nav-principal{
    display: flex;
    position: fixed;   
    /* height: calc(100vh - 4rem); */
    height: 240px;
    width: 290px;
    background: #2C0D10;
    left: -80vh;
    z-index: 700;
    transition: left .6s;
    align-items: center;
    justify-content: center;
}

.nav-principal .marco-menu{
    width: 100%;
}

.nav-principal.show{
    left: 0;
}

.menu-principal{
   display: flex;
   position: absolute;
   flex-direction: column; 
   width: 80%;
   height: 80%;
   justify-content: center;
   align-items: center;

}

.menu-principal-item{
    width: 100%;
    height: 18%;
    list-style: none;
    text-align: center;
    line-height: 43px;
    

}

.menu-principal-item:not(:last-of-type){
    border-bottom: 1px solid #fff ;
}

.menu-principal-item:hover{
    width: 100%;
    height: 18%;
    list-style: none;
    text-align: center;
    background: rgb(107, 32, 39);
   
}


.menu-principal a{
    font-size: 10px;
    color: #fff;   
}


/*==================== LOGOS ==================*/

.contenedor-logo-principal{
    grid-area: logo;
    border:  red 3px solid;
   
}

.contenedor-logo-principal img{
    width: 110px;
    margin-top: 30px; 
    margin-left: 20px;
}


.contenedor-logo-2{
    grid-area: logo-2;
    display:flex;
    border: green 3px solid;
    justify-content: flex-end;
    align-items: flex-end;
}

.contenedor-logo-2 a{
    margin-bottom: 60px;
}


.contenedor-logo-2 img{
    width: 80px;
}

/*==================== CONTENIDO FULLPAGES ==================*/
.main{
    display: flex;
    grid-area:contenido;
    border: 2px solid lightgreen;
    overflow: scroll;
    width: 80%;
    justify-self: center;
    justify-content: center;
    align-items: start;
    

}

.full-page{
    width: 100%;
    background:red;
}
.section img{
    align-self: start;
    width: 100%;
}





/* ================ FOOTER ===================== */

.footer{
    display: grid;
    grid-area: footer;
    height: 50vh;
    position: relative;
    border: blue 3px solid;  
    justify-items: center;  
    align-items: flex-end;  

}

.footer .contenedor-footer{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content:center;
    align-items: flex-end;
    
}
 

.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 55%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 20px rgba(0,0,0,3);
    z-index: 100;
}

.footer .contenedor-footer .caja-2{
    display: flex;
    width: 100%;
    height: 45%;
    position: absolute;
    z-index: 0;
    align-self:flex-start;
}

.footer .patron-footer{ 
    width: 100%;
    position:absolute;  
    bottom: 61px;   
    z-index: 400;
} 

 .footer .imagen-mitad-del-mundo{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 80px;
    justify-content: center;
    z-index: 200;
}

.footer .imagen-mitad-del-mundo img{
    width: 40%;
}


.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img{
    width: 26%;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer .imagen-derecha-footer img{
    width: 26%;
    position: absolute;
    align-self: flex-end;
}



/* ================ REDES SOCIALES ===================== */

.footer .redes-sociales{
    display: flex;
    justify-content: center;
    font-size: 24px;
    z-index: 500;
}


.footer .redes-sociales a{
    display: flex;
    width: 50px;
    height: 50px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 10px;
    color: #2C0D10;
    transition: 0.4s;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 30px;
}